<!DOCTYPE html>

<html lang="en">

<head>
    <title>Register</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="/stylesheets/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body class="signin">

<div class="w3-top">
    <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
        <a href="index" class="w3-bar-item w3-button">Homepage</a>
        <a href="login" class="w3-right w3-bar-item w3-button">Login</a>
        <a href="register" class="w3-right w3-bar-item w3-button">Register</a>
    </div>
</div>


<div class="signinpanel">
    <div class="row">
        <div class="col-sm-12">

            <form action="register" method="POST" class="m-t">
                <h4 class="no-margins">Register</h4>
                <div class="form-group">
                    <b>User:</b><input type="text" required name="username" class="form-control" placeholder="username">
                </div>
                <div class="form-group">
                    <b>Password:</b><input type="text" required name="password" class="form-control" placeholder="password">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Register</button>

            </form>
        </div>
    </div>
</div>

</body>

</html>
